
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  background: #FFFFFF;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;

}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: lightseagreen;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
.form button:hover,.form button:active,.form button:focus {
  background: lightgrey;
}

h1{
    text-align: center;
}
