.colGag{
    margin-bottom: 10px;
    margin-right: 10px;
}

.img
{
    height: 50px;
    width: 50px;
}

.card{
    border: 2px solid lightseagreen!important;
    height: 267px;
}

.card-header{
    background: lightseagreen!important;
    border-bottom: 1px solid lightseagreen!important;
}
